/*
          .box{
            background-color: #f5f5f5;
          }
          .main-header .col-3{
            height: 50px;*/
            /*color: #fff;*/
          }
     /*     .header-right img{
          }
          .main{
           /* background-color: #fff;*/
        /*  }
          .main-left{
           /* color: #6e768e;*/
           /* height: 520px;
            margin-right: 10px;
            background-color: #f5f5f5;
          }
          .box1{
            background-color: #fff;
            height: 100%;
          }
          .box1 ul{
            padding: 0px;
            margin: 0px; 
            list-style: none;
            }
          .box1 ul li{
                margin-left: 15px;
                height: 30px;
            }
          .box1 ul li a{
           color: #879bb8;
          }
          .box1 ul li:hover{
          }
          .box1 ul li a:hover{
            text-decoration: none;
            color: #779cce;
          }
          .main-right{
          }/*